 body { background-color :#00BFFF }
h1{color:white;}

/**/
   

    
    li{
        border:1px solid black;
        margin:0.5em;
        padding:0.5em;
    }

    ul{
        list-style-type:none;
        margin:5;
        padding:5;
        border:1px solid red;
        display:flex;
        flex-direction:row;
        justify-content:flex-end;
        align-items:center;
        height:200px;}

        li{
            border:1px solid black;
            margin:0.5em;
            padding:0.5em;
        }

        .flex1 {
            order:1
            flex: 1 1 10em;
            border:3px dotted red;
        }
        .flex2 {
            order:1
            flex: 2 2 5em;
            border:3px dotted blue;
        }


     